<div class="button-container">
    <div class="button-wrapper">
        <a asp-controller="Home" asp-action="Products" class="btn btn-secondary custom-btn">Товары</a>
    </div>
    <div class="button-wrapper">
        <a href="@Url.Action("", "")" class="btn btn-secondary custom-btn">Категории</a>
    </div>
    <div class="button-wrapper">
        <a asp-controller="Home" asp-action="AddProduct" class="btn btn-secondary custom-btn">Добавить товар</a>
    </div>
    <div class="button-wrapper">
        <a href="@Url.Action("", "")" class="btn btn-secondary custom-btn">Добавить категорию</a>
    </div>
</div>
